.previewPic {
    margin-left: 15px;
}
.previewCheck {
    position: relative;
    top: -25%;
}
.previewPicDiv {
    float: left;
    width: 180px;
    height: 150px;
    margin:5px
}

#previewSelectButtons {
    display:block;    
    margin-top: 8px;
    text-align: center;
}

div#previewThumbs {
    height: 100%;
    border: 1px solid black;
}

div#flickr-preview::after {
    content: "";
    display: block;
    clear: both;
}

#flickr-preview {
    border: 1px solid black;
    display:none;
}

#flickr-preview #preview-pagination {
    clear: both;
    margin-left: 40%;
}

#flickr-preview #preview-pagination #page-numbers{
    display:inline;
}

#flickr-preview #preview-pagination #page-numbers a {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:15px;
}

#flickr-preview #preview-pagination #page-numbers div {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:15px;
    display:inline;
}

#flickr-preview #preview-per-page {
    margin-left:30%
}

.previewLabel {
    max-height: 40px;
    max-width: 150px;
    min-width: 120px;
    overflow: hidden;
}

.flickr-success-dialog {
    font-size: 2em;
    border: 2px solid green;
}

#flickr-success-dialog{
    padding: 0px;
}

#flickrimportsubmit {
clear:both;
display:block;
}